body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  background: rgb(207,222,205);
  background: linear-gradient(180deg, rgba(207,222,205,1) 0%, rgba(152,202,153,1) 72%, rgba(76,175,80,1) 100%);
  min-height: 100vh;
  
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding: 5px 15px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 0px 2px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}
/* Responsive layout - when the screen is less than 850px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 880px) {
  .col-25, .col-75, input[type=submit],input[type=number],input[type=text] {
    width: 100%;
    margin-top: 0;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px 2px;
  }
}
  @media screen and (max-width: 650px) {
  .topnav a:not(.active) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  } 
 }

@media screen and (max-width: 650px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1365px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* -------------------------------------TEXT ON IMAGE------------------------------------------ */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom:80px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* table css */
.dataframe{
    width: 674px; 
    height: 344px; 
    background-color: gray;
    border-color: white;
    margin-left: auto; 
    margin-right: auto; 
    border:2px;
    padding-left:8px;
}
.table-container {
  overflow-x: visible;
  width: 95%;
  align-self: center;
}
table {
  margin-top: 50px;
  padding: 20px;
  border-collapse: collapse;
  width: 100%;
}
th,td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 20px;
  height: 24px;
}
th{
  width: auto;
  background-color: #4CAF50;
  color: white;

}
td {
  text-align: center;
  }

tr:nth-child(even) {
  background-color: #e6e2e2;
}


@media screen and (max-width: 1490px) {
tbody {
    display: flex;
    flex-direction: row;

}
tr {
    display: flex;
    flex-direction: column;
}
th{
        background-color: #4CAF50;
        color: white;
        padding: 20px;
        height: 25.8px;
    }
    td {
        text-align: center;
        padding: 20px;
        height: 25px;
        }

        td:nth-child(even) {
        background-color: #e6e2e2;
    }
    
}

 /* ----------------button for addroom, upload page------------------------- */
.btn,.btn__text,.btn__progress,.btn__progress-check,.btn__progress-fill,.btn__progress-track {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --hue: 223;
  --bg1: hsl(var(--hue),10%,90%);
  --bg2: hsl(var(--hue),10%,80%);
  --fg1: hsl(var(--hue),10%,10%);
  --fg2: hsl(var(--hue),10%,20%);
  --primary1: hsl(var(--hue),90%,55%);
  --primary2: hsl(var(--hue),90%,45%);
  /* font-size: calc(20px + (40 - 20) * (100vw - 320px) / (1280 - 320)); */
}
button {
  font: 1em/1.5 Nunito, sans-serif;
}
.btn{
  background-color: #4CAF50;
  color: white;
  height: 100vh;
  display: grid;
  place-items: center;
}

/* Main button styles */
.btn {
  background-color: transparent;
  border-radius: 1.5em;
  display: block;
  position: relative;
  width: 7.5em;
  height: 3em;
  transition: width 0.3s ease-in-out;
}
.btn:not(:disabled):active {
  transform: translateY(0.1em);
}
.btn__text {
  background-color: #4CAF50;;
  border-radius: inherit;
  color: hsl(0,0%,100%);
  display: inline-block;
  padding: 0.75em 1.5em;
  transition:
      background-color 0.15s linear,
      color 0.15s 0.3s ease-in-out;
  width: 100%;
}
.btn:not(:disabled):focus .btn__text,
.btn:not(:disabled):hover .btn__text {
  background-color: #45a049;;
}
.btn__progress {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  visibility: hidden;
}
.btn__progress-track {
  r: 12px;
  stroke: #45a049;;
  stroke-width: 24;
}
.btn__progress-fill {
  stroke: #4CAF50;
  stroke-dashoffset: 125.66;
}
.btn__progress-check {
  stroke: hsl(0,0%,100%);
  stroke-dashoffset: 34;
}

/* Both states */
.btn--running,
.btn--done {
  outline: none;
  pointer-events: none;
  width: 3em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.btn--running .btn__text,
.btn--done .btn__text {
  color: transparent;
  transition:
      background-color 0.3s ease-in-out,
      visibility 0.3s steps(1);
}
.btn--running .btn__progress,
.btn--done .btn__progress {
  visibility: visible;
}

/* Running state */
.btn--running .btn__text {
  background-color: #45a049;;
  visibility: hidden;
}
.btn--running .btn__progress {
  transition: visibility 0.3s 0.3s steps(1,start);
}
.btn--running .btn__progress-track {
  r: 20px;
  stroke-width: 8;
  transition:
      r 0.3s 0.3s ease-in-out,
      stroke-width 0.3s 0.3s ease-in-out;
}
.btn--running .btn__progress-fill {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 2s 0.6s linear;
}

/* Done state */
.btn--done .btn__progress-track {
  stroke: #4CAF50;;
  transition:
      r 0.3s ease-in-out,
      stroke-width 0.3s ease-in-out;
}
.btn--done .btn__progress-check {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s 0.3s ease-out;
}

/*------------------------login_page------------------------------*/

.contact-form {
	position: absolute;
	top: 400px;
	left: 80%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 500px;
	padding: 80px 40px;
	box-sizing: border-box;
	background-color: rgba(37, 36, 36, 0.313);
	box-shadow: 0 5px 30px black;
  backdrop-filter: blur(5px);
  border-radius: 25px;
  font-family: 'Libre Baskerville', serif;
}
.avatar {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2);
	left: calc(50% - 40px);
	border: 10px solid #fff;
  box-shadow: 0 5px 30px black;
}
.contact-form h2 {
	margin: 0;
	padding: 0 0 30px;
  font-size: 32px;
  color: #fff;
	text-align: center;
	text-transform: uppercase;
  
}


.contact-form input {	
	border: none;
	/* border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: medium; */
	/* border-bottom: 2px solid white; */
	padding: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	box-sizing: border-box;
	/* background-color: rgba(41, 39, 39, 0.3); */
	box-shadow: 0 5px 30px black;
  border-radius: 10px;
}

.contact-form input[type="text"], 
.contact-form input[type="password"] {
	background: transparent;
	height: 40px;
  color:#fff;
  width: 250px;
	font-size: 16px;
}

.rem {
	text-align: center;
	color: rgb(199, 197, 197) !important;
  font-size: 16px;
  }

  
  ::placeholder {
    color: white;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
  }
  
  label {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
    color:#000;
  }
