<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/static/homee.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        table.dataTable {
            width: 100%;
            margin: 100px auto;
            clear: both;
            border-collapse: separate;
            border-spacing: 0
        }
        
        /* Responsive layout for small screens */
        @media screen and (max-width: 1490px) {

            table {
                display: flex;
                width: 90%;
                justify-content: center;
                margin-top: 50px;
                padding: 20px;
                border-collapse: collapse;
            }
        }
        /* table.dataTable tbody tr {
    background-color: #fff;
} */
        tr:nth-child(even) {
      background-color: #e6e2e2;
    }
   
    </style>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
     <script>
         $(document).ready(function () {
             $('#example').DataTable({
                 "paging": false, // Disable pagination
             });
         });
 
         function myFunction() {
             var x = document.getElementById("myTopnav");
             if (x.className === "topnav") {
                 x.className += " responsive";
             } else {
                 x.className = "topnav";
             }
         }
     </script>
</head>

<body>
    <div class="content">
        <div class="topnav" id="myTopnav">
            <a class="active" href="/admin">Dashboard</a>
            <a href="/addroom">Add Room</a>
            <a href="/upload_form">Upload</a>
            <a href="/generate">Generate</a>
            <a href="/login">Logout</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div>

            <div style="text-align: center;">
                <div
                    style="color: #4CAF50; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;display: inline-block; align-items: center;  margin-top: 40px; border: 2px solid#000 ; border-radius: 14px; padding-left: 6px; padding-right: 6px;">
                    <h2>AVAILABLE ROOMS</h2>

                </div>
            </div>
            <div class="table-container">
                <table id="example" class="display" cellspacing="0">
                    <thead>
                    <tbody>
                        <tr>
                            <th>Room No</th>
                            <th>Columns</th>
                            <th>Col 1 Max Rows</th>
                            <th>Col 2 Max Rows</th>
                            <th>Col 3 Max Rows</th>
                            <th>Col 4 Max Rows</th>
                            <th>Col 5 Max Rows</th>
                            <th>Col 6 Max Rows</th>
                            <th>Col 1 Usable Row</th>
                            <th>Col 2 Usable Row</th>
                            <th>Col 3 Usable Row</th>
                            <th>Col 4 Usable Row</th>
                            <th>Col 5 Usable Row</th>
                            <th>Col 6 Usable Row</th>
                            <th>Total Capacity</th>
                            <th>Total Usable Capacity</th>
                            <th>DELETE</th>
                            <th>EDIT</th>
                        </tr>
                        </thead>
                        {% for row in data %}
                        <tr>
                            <td>{{row[0]}}</td>
                            {% for d in row[1:] %}
                            <td>{{d}}</td>
                            {% endfor %}
                            <td><a href="/delete/{{row[0]}}"><i class="fa-solid fa-trash "  style="color: #0ca125;"></i></a></td>
                            <td><a href="/edit/{{row[0]}}"><i class="fa-solid fa-pen-to-square " style="color: #2e9509;"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   
</body>

</html>