<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Generate arrangement</title>
  <link rel="stylesheet" type="text/css" href="/static/homee.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
 
  <style>

table.dataTable {
            width: 100%;
            margin: 100px auto;
            clear: both;
            border-collapse: separate;
            border-spacing: 0
        }
        
    /* Responsive layout for small screens */
    @media screen and (max-width: 1490px) {

              table {
                  display: flex;
                  width: 90%;
                  justify-content: center;
                  margin-top: 50px;
                  padding: 20px;
                  border-collapse: collapse;
              }
    }

    th,
    td {
      text-align: center;
      width: auto;
      max-width: 100%;
      padding: 8px;
    }

    /* tr:nth-child(even) {
      background-color: #e6e2e2;
    } */

    input[type=number] {
      width: 20%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;

    }
    form{margin: 50px 20px;}
    ul{
      list-style: none;
      padding-inline-start: 0;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <script>
    $(document).ready(function () {
      $('#example').DataTable({
        responsive: true,
        "pageLength": 5
      });
    });
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }

    }
    window.addEventListener("DOMContentLoaded", () => {
  const btn = document.querySelector("button");
  var doneTimeout = null;

  if (btn) {
    btn.addEventListener("click", function () {
      const runClass = "btn--running";
      const doneClass = "btn--done";
      // `.btn--running .btn__progress-fill` `stroke-dashoffset` duration in ms
      const submitDuration = 500;

      // Disable the button during the animation
      this.disabled = true;

      clearTimeout(doneTimeout);

      doneTimeout = setTimeout(() => {
        this.classList.remove(runClass);
        this.classList.add(doneClass);

        // Reset the button and submit the form
        setTimeout(() => {
          this.disabled = false;
          this.classList.remove(doneClass);

          // Now, trigger the form submission
          const form = document.querySelector("form");
          if (form) {
            form.submit();
          }
        }, 1000); // Adjust the resetDuration as needed
      }, submitDuration);
    });
  }
});


  </script>
</head>

<body>
  <!-----------------------------------------NAVIGATION BARS--------------------------->
  <div class="topnav" id="myTopnav">
    <a href="/admin">Dashboard</a>
    <a href="/addroom">Add Room</a>
    <a href="/upload_form">Upload</a>
    <a class="active" href="/generate">Generate</a>
    <a href="/login">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
    <form action="/generate" method="POST" id="generateForm">
      <!-- <fieldset style="margin-left: 20px; margin-right: 20px;background-color:  #ffffff;"> -->
      
      <div style="display: flex; flex-wrap: wrap;">
        
        
        <div style="flex: 1; margin-right: 10px;" onchange="updateStrength()">
            <span style="font-weight: bold;">2nd Year</span></br>
            <ul>
                {% for subject in df1.columns %}
                    <li>
                      <input type="checkbox" name="select_subject" value="{{ subject }}" id="{{ subject }}">
                        <label for="{{ subject }}">{{ subject }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
        <div style="flex: 1; margin-right: 10px;" onchange="updateStrength()">
            <span style="font-weight: bold;">3rd Year</span></br>
            <ul>
                {% for subject in df2.columns %}
                    <li>
                      <input type="checkbox" name="select_subject" value="{{ subject }}" id="{{ subject }}">
                        <label for="{{ subject }}">{{ subject }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
        <div style="flex: 1; margin-right: 10px;" onchange="updateStrength()">
            <span style="font-weight: bold;">4th Year</span></br>
            <ul>
                {% for subject in df3.columns %}
                    <li>
                      <input type="checkbox" name="select_subject" value="{{ subject }}" id="{{ subject }}">
                        <label for="{{ subject }}">{{ subject }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div style="flex: 1; margin-right: 10px;">
          <fieldset style=" margin-right: 20px; border: none; display: flex; flex-direction: column; max-width: 10%; align-self: flex-end;">
          <label for="date" style="float: right; font-size: 15px; margin-right: 10px; border-radius: 5px; height: 30px; margin-bottom: -10px;">Select Date:</label>
          <input type="date" name="date" id="date" style="float: right; background-color: #e6e2e2; border-radius: 10px; padding: 10px; height: 30px; margin-bottom: 10px" placeholder="Select Date" required>
          <label for="time" style="float: right; margin-right: 10px; border-radius: 5px; font-size: 15px; height: 30px; margin-bottom: -10px">Select Time:</label>
          <input type="time" name="time" id="time" style="float: right;  background-color: #e6e2e2; padding: 10px; border-radius: 10px; height: 30px;" placeholder="Select Time" required>
          </fieldset>
      </div>
  
    </div>
     <div id="strength_display"> 
      <!-- The strength content will be updated dynamically here -->
      <h2 id="strengthHeading" class="hidden">Total Strength of Selected Subjects</h2> 
      <ul>
         
        <!-- Strength data will be appended dynamically here -->
      </ul>
   </div> 
   
      <table id="example" class="display" cellspacing="0" width="100%" style="margin-top: 10px;">
        <thead>
          <tr>
            <th>Select</th> <!-- Add a new column for checkboxes -->
            <th>Room No</th>
            <th>Columns</th>
            <th>Col 1 Max Rows</th>
                            <th>Col 2 Max Rows</th>
                            <th>Col 3 Max Rows</th>
                            <th>Col 4 Max Rows</th>
                            <th>Col 5 Max Rows</th>
                            <th>Col 6 Max Rows</th>
                            <th>Col 1 Usable Row</th>
                            <th>Col 2 Usable Row</th>
                            <th>Col 3 Usable Row</th>
                            <th>Col 4 Usable Row</th>
                            <th>Col 5 Usable Row</th>
                            <th>Col 6 Usable Row</th>
                            <th>Total Capacity</th>
                            <th>Total Usable Capacity</th>
            <th>EDIT</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            <td><input type="checkbox" name="selected_rooms" value="{{ row[0] }}"></td>
            <!-- Add a checkbox for each room -->
            {% for d in row %}
            <td>{{d}}</td>
            {% endfor %}
            <td> <a href="/edit-usable-rows/{{ row[0] }}"><i class="fas fa-edit" style="color: #0ca125;"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div style="display: flex;  
     justify-content: center;  
     align-items: center; margin-top: 20px;" >
      <button class="btn" type="button"  >
        <span class="btn__text">Generate</span>
        <svg class="btn__progress" viewBox="0 0 48 48" width="48px" height="48px">
            <circle class="btn__progress-track" r="20" cx="24" cy="24" fill="none" stroke="#c7cad1" stroke-width="8" />
            <circle class="btn__progress-fill" r="20" cx="24" cy="24" fill="none" stroke="#000000" stroke-width="8" transform="rotate(-90,24,24)" stroke-dasharray="125.66 125.66" stroke-dashoffset="125.66" />
            <polyline class="btn__progress-check" points="12,24 20,32 36,16" fill="none" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="34 34" stroke-dashoffset="34" />
        </svg>
      </button>
    </div>
      <!-- <input type="submit" value="Generate Report"> Add a submit button to send selected rooms to the server -->
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
      // Function to update strength using AJAX
      function updateStrength() {
         // Serialize form data
         console.log("Updating Strength...");
         var formData = $('#generateForm').serialize();
         console.log("Serialized Data:", formData)
   
         // Send AJAX request
         $.ajax({
            type: 'POST',
            url: '/generate',
            data: formData,
            success: function (data) {
              console.log("Data received:", data);
                // Update the strength display dynamically
                updateStrengthDisplay(data);
            },
            error: function (xhr, status, error) {
        console.error("AJAX Error:", status, error);
    }
         });
      }

   function updateStrengthDisplay(data) {
      $('#strengthHeading').removeClass('hidden'); // Show the strength heading
      $('#strength_display ul').empty(); // Clear existing strength data

        // Display total strength for each selected subject
        for (var subject in data) {
            if (subject !== 'ALL Years total') {
                $('#strength_display ul').append('<li>' + subject + ' Strength: ' + data[subject] + ' students</li>');
            }
        }

        // Display total strength for all years
        $('#strength_display ul').append('<li>Total Strength: ' + data['ALL Years total'] + ' students</li>');
    }
   </script>
  </div>
 
</body>

</html>